

.container {
    width: 540px;
    margin: 0 auto;
    border: 1px solid rgb(171, 170, 170);
}

/* header */

header p {
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
    height: 77px;
}
.nav-h ul {
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}
.nav-h li {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}
.nav-h a {
    color: rgb(255, 225, 0);
    font-size: 1.3rem;
}

/* main */

.date {
    background-image: url(../img/bandeau-01.jpg);
    height: 152px;
    margin-bottom: 40px;
}
.date p {
    font-weight: 500;
    font-size: 1.5rem;
    background: rgba(251, 248, 248, 0.699);
    text-align: center;
    margin-bottom: 10px;
}
.time {
    background: rgba(251, 248, 248, 0.699);
    margin-bottom: 10px;
}
.time span {
    
    color: red;
}
.time a {
    text-align: center;
}

/* section1 */

.section1 article {
    border-bottom: 2px solid;
    margin-bottom: 0px;
    margin-top: 20px;
}
.section1 img {
    width: 187px;
    height: 124px;
    top: 30px;
    left: 170px;
}
.section1 h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}
.button {
    background: rgb(211, 210, 210);
    width: 100px;
    height: 30px;
    margin: 10px;
    position: relative;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
}
.button a {
    color: red;
    position: absolute;
    top: 10px;
    left: 28px;
}

/* section2 */

.section2 {
    background: #eee;
    width: 540px;
    height: 314px;
    margin-top: 50px;
}
.section2 p {
    color: red;
    font-size: 1.3rem;
    border-left: 20px solid red;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    height: 50px;
}
.section2 a {
    color: black;
    margin-left: 30px;
}
.section2 li {
    border-bottom: 1px dashed red;
}

/* footer */

footer {
    background: red;
    padding: 20px;
}
footer li {
    border-left: 20px solid white;
}
footer a {
    color: lightgrey;
    margin-left: 20px;
}